.HEADER
{
	background-color: #f1f1f1;
	text-align: center;
}

.NAVIGATION-BAR
{
	background-color: #333333;
	position: sticky;
	top: 0;
	z-index: 1;
}

.NAV-BUTTON
{
	display: inline-block;
	position: relative;
}

.NAV-BUTTON>a
{
	background-color: #333333;
	color: #ffffff;
	display: block;
	padding: 16px 32px;
	text-decoration: none;
}

.NAV-BUTTON>a:hover
{
	background-color: #f1f1f1;
	color: #000000;
}

.NAV-BUTTON-LIST
{
	box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	z-index: 1;
}

.NAV-BUTTON-LIST>a
{
	background-color: #ffffff;
	color: #000000;
	display: block;
	padding: 12px 16px;
	text-decoration: none;
}

.NAV-BUTTON-LIST>a:hover
{
	background-color: #f1f1f1;
}

.NAV-BUTTON:hover .NAV-BUTTON-LIST
{
	display: block;
}

.BODY
{
	float: left;
	height: auto;
	width: 100%;
}

.PRODUCT
{
	background-color: #ffffff;
	float: left;
	height: auto;
	padding: 1%;
	width: 100%;
}

.PIC-DIV
{
	float: left;
	height: auto;
	padding: 1%;
	text-align: center;
	width: 25%;
}

.DETAILS-DIV
{
	float: right;
	font-family: Times New Roman;
	font-size: 20px;
	height: auto;
	padding: 1%;
	text-align: left;
	width: 70%;
}

.PIC1
{
	overflow: hidden;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;
}

.PIC2
{
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	height: 20%;
	width: 20%;
}

.PIC1 img
{
	max-width: 100%;
	transition: all 2.0s;
	width: auto;
	height: auto;
	transform: scale(1);
}

.PIC1:hover img
{
	transform: scale(1.2);
}

.BUYNOW
{
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	padding: 14px 28px;
	text-decoration: none;
}

.BUYNOW:hover
{
	background-color: #ffffff;
	color: #000000;
	box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.2);
}

.FOOTER
{
	background-color: #f1f1f1;
}

.FOOTER-DIVS
{
	position: relative;
	padding-top: 5%;
	padding-left: 1.5%;
	padding-bottom: 5%;
	width: 18%;
	display: inline-block;
}

.FOOTER-DIVS>a
{
	color: #666666;
	display: block;
	text-decoration: none;
}

input[type="email"]
{
	width: 90%;
	height: 20px;
	padding: 5px 10px;
	border: 1px solid #dadada;
	color: #888;
}

.SUBSCRIBE
{
	width: 50%;
	height: 20px;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	padding: 8px 10px;
	text-decoration: none;
	text-align: center;
}

body
{
	margin: 0;
}

h2
{
	color: #D4AF37;
}